/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/php
/nginx
/mysql
Dockerfile
docker-compose.yml
docker-compose.yml.original
docker-compose.yml.bak1
docker-compose.yml.bak2
config.sh
docker.env
docker_build.sh
